$accentColor = #ff4c00
$textColor = #333333
$borderColor = #eaecef
$codeBgColor = #282c34

// Font
body
  font-family "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif

h1, h2, h3, h4, h5, h6, .site-name
  font-family "Titillium Web", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif

.home
  .hero
    .description
      font-size 1.3rem

// Button
.home
  .hero
    .action-button
      display inline-block
      font-size 1rem
      color #fff
      background-color $accentColor
      padding 0.6rem 1rem
      border-radius 3px

// Search
.search-box input
  border-radius 3px
